{% extends "base.html" %}

{% block content %}
    <h1>Welcome, {{ current_user.username }}!</h1>

    <table style="width:100%">
        <tr>
            <th>Account</th>
            <th>Balance</th>
            <th></th>
        </tr>
        {% for account in accounts %}
        <tr>
            <td><a href="#">{{ account.name }}</a></td>
            <td>{{ account.balance }}</td>
            <td><a href="/account/{{ account.id }}/edit">Edit</a></a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
